<div class="container form">
    <div class="row">
      <div class="col-md-6">
        <form class="form-inline active-cyan-4" (ngSubmit)="searchGithubRepo()">
          <input
            class="form-control form-control-sm mr-3 w-75"
            type="search"
            placeholder="Enter Github reponame.."
            name="searchName"
            [(ngModel)]="reponame"
            name="reponame"
          /> <br>
          <button type="submit" class="btn btn-info">
            <i class="fa fa-search" aria-hidden="true"></i> Search
          </button>
        </form>
      </div>
      <!-- (click) = "search()" -->
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="container"> 
    <h1 class="text-center text-info">Repo!</h1>
    <div *ngFor="let repos of GitRepo">
          <p class="repo">
            <strong>User project Name: </strong> {{repos.name}} <br> <br>
            <strong>User project Description: </strong> {{repos.description}} <br> 
            <strong>User Forks</strong> {{repos.forks}} <br>
            <button class=" mt-5 btn btn-outline-success"> <a href="{{repos.html_url}}"><strong>LINK</strong> </a></button> 

          </p>
    </div>
  </div>