<div class="container">
    <h1 class="text-info text-center"><span>GITAPP</span></h1>
    <div class="navb text-center">
      <a class="nav-item nav-link active" routerLink="/navbar">Home</a> 
      <a class="nav-item nav-link active" routerLink="/repos">Repos</a>
      <a class="nav-item nav-link" routerLink="/guser">Users</a>
    </div>      
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo accusamus sint quaerat, fugit, harum eos deleniti atque eveniet beatae architecto dolorem debitis officia praesentium. Modi hic placeat esse impedit illo.</p>
</div>
 


