h1{
   font-family: Lobster; 
}
.container-fluid{
    color: white;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
}
.reppo{
    padding: 50px;
    font-family: Lobster;
    border: 2px solid black;
    font-size: 30px;
    width:300px;
    background-image: url("https://i.pinimg.com/236x/fd/eb/fa/fdebfab58ce5494bb79675a6786991ff.jpg");
    background-size: cover;
    opacity: 05px;

}
a:hover{
    color: red;
}
.usname{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
}

h2{
    background-color: white;
    color: black;
    margin: auto;
} 