<h1 class="text-center text-info">
  {{ title }}
</h1>
<div class="container form">
  <div class="row">
    <div class="col-md-6">
      <form class="form-inline active-cyan-4" (ngSubmit)="searchGithub()">
        <input
          class="form-control form-control-sm mr-3 w-75"
          type="search"
          placeholder="Enter Github Username...."
          name="searchName"
          [(ngModel)]="username"
          name="username"
        /> <br>
        <button type="submit" class="btn btn-info">
          <i class="fa fa-search" aria-hidden="true"></i> Search
        </button>
      </form>
    </div>
    <!-- (click) = "search()" -->
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="container-fluid reppo">
  <h2 class="text-center text-info">User Data</h2>
  <div *ngIf="usersdetail; then doThis; else another" class="usname"></div>
  <hr />
  <ng-template #doThis class="usersdetail m-3">
    <!--<a href="" {{user.html_url}}"  {{user.html_url}}">{{user.name}}</a>  -->
    <ul>
      <li>
        <img src="{{ usersdetail.avatar_url}}" height="100px"><p><strong>User project Avatar:</strong></p>
        <p><strong>User project Name:</strong> {{ usersdetail.name }}</p>
        <br />
        <P><strong>User project Public repos:</strong> {{usersdetail.public_repos}}</P>
        <P><strong>User project Followers:</strong> {{usersdetail.followers}}</P>
        <P><strong>User project Following:</strong> {{usersdetail.following}}</P>
        <a href="{{usersdetail.html_url}}}"><P><strong>User project Html_ur:</strong> {{usersdetail.html_url}}</P></a>
      </li>
    </ul>
  </ng-template>
  <ng-template #another class="usersdetailsdetail m-3">
    <h1>repos</h1>
    <!--<a href="" {{usersdetail.html_url}}"  {{usersdetail.html_url}}">{{usersdetail.name}}</a>  -->
    <ul>
      <li>
        <p><strong>usersdetail project Name:</strong> {{ usersdetail.name }}</p>
        <br />
        <p>{{ usersdetail.description }}</p>
        {{ usersdetail.login }}
      </li>
    </ul>
  </ng-template>
</div>
